img{
    
}
body {
    background-image: url("feuimage.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
  }
  pre{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
  }

  p2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
  }

  p3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align:center;
  }

  p4{
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    font-style: bold;
    font-size: 30px;
  }
  p{
    text-shadow: 5px;
    font-style: italic;
    text-align: right;
  }

